<%= render partial: 'layouts/navbar' %>
<br><br>
<div class="container">
  <h1>Welcome to SimplePW</h1>
</div><br>


    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Features include:</h2>
                    <p class="lead">
                       1) Extentions - Allows you to access your sites, Add new sites, and Generate new passwords
                      <br><br> 2) Webapp - Lets you to add, edit, delete, and manange all of your logins
                    </p>
                </div>
                <br><br><br><div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img src="http://findicons.com/files/icons/2146/realistik_reloaded/128/lock.png" title="Simple">
                </div>
            </div>

        </div>

    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Get the extension</h2>
                    <p class="lead">
                       <a href="#" target='_newtab'>CLICK HERE</a> to get the chrome extension now. Stay tuned for more browser plugins coming soon.
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <br><br><br><img src="http://media.engadget.com/img/product/15/brs/chrome-os-2odl-800.jpg" width="200px" height="150px">
                </div>
            </div>

        </div>

    </div><br><br>
    <div class="container"><hr><br><br>
      <p class="lead">Sites supported include: Twitter, Facebook, Yahoo Mail, Wells Fargo, Linkedin, Ebay, Pinterest, Paypal, Tumblr, Instagram, Netflix, Salesforce, Vimeo
        Bleacher Report, Aol, Monster, Xfinity/Comcast, Careerbuilder, and Github</p><br><br>
      <p class="lead">More sites will be supported in the near future. To request a specific site send a <%= link_to "Message", contact_path %></p>
    </div>

    <br><br><br><br>

    <div class="container">
      <%= link_to "Continue to Dashboard", dashboard_path, class: "btn btn-info btn-lg" %><br><br><br><br>
    </div>
