<html>
  <body class="dash">
    <div id="header">
    <div id="header-content">
      <h1>Welcome to SimplePW</h1>
      <p>One passowrd does it all!</p>
      <%= link_to "Sign In", dashboard_path, class: "btn btn-success" %><br><br>
      <h5>Don't have account? <%= link_to "Sign up here", tutorial_path %><br></h5>
    </div>
    </div>
  </body>
</html>
