<html>
  <body class="dash">
    <div id="header">
    <div id="header-content">
      <h1>SimplePW <img src="http://findicons.com/files/icons/2146/realistik_reloaded/128/lock.png" height="50px" width="50px" alt=""></h1>
      <h4>One password does it all!</h4><br>
      <%= link_to "Sign In", new_session_path, class: "btn btn-success" %><br><br>
      <h5>Don't have account? <%= link_to "Sign up here", sign_up_path %><br></h5>
    </div>
    </div>
  </body>
</html>
