// function validateform() {
//   if ($("email").value == "" || $("email").value == null || $("password").value == null || $("password").value == "") {
//     if($('#warn').val() == null){
//       event.preventDefault();
//       $('#entire').prepend("<h3><font color='red' id='warn'>Please enter the correct username and/or password</font></h3><br><br>");
//     }
//   }else{
//     return true
//   }
// };
