<header class="navigation">
  <div class="navigation-wrapper">
    <div class="logo">
      <h4>
        <img src="http://findicons.com/files/icons/2146/realistik_reloaded/128/lock.png" title="Simple">
        <font color='white'>SimplePW</font>
      </h4>
    </div>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Dashboard", dashboard_path %></li>
        <li class="nav-link"><%= link_to "Intro", tutorial_path %></li>
        <li class="nav-link"><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <%= link_to "Sign Out", sign_out_path, class: "sign-up", method: :delete %>
    </div>
  </div>
</header>
